#Frontend (React)
front-end/node_modules/
front-end/.env
front-end/dist/
front-end/build/


#Backend (Laravel)
back-end/vendor/
back-end/.env
back-end/storage/framework/cache/
back-end/storage/framework/sessions/
back-end/storage/framework/views/
back-end/storage/logs/
